<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Language" content="en-us">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BetEstandar | Soccer hints</title>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
        <meta name="description" content="Free Soccer Predictions, Betting Tips and Picks, Football Predictions, Value Bets, Predictions for Soccer and Football">
        <meta name="keywords" content="free, soccer, predictions, tips, bets, win, money">
        <meta name="revisit-after" content="5 days">
        <meta name="robots" content="index, follow">
        <meta name="robots" content="noodp">
        <script data-ad-client="ca-pub-1359748223662614" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body LEFTMARGIN=0 TOPMARGIN=0 rightmargin="0" bottommargin="0" MARGINWIDTH=0 MARGINHEIGHT=0 text="#000000" bgcolor="#303030">
    <center>
        <table border="0" width="942" cellspacing="0" cellpadding="0">
            <tr>
                <td width="762">
                    <div align="center">
                        <table border="0" width="746" cellpadding="2" bgcolor="#303030">
                            <tr>
                                <td>
                                    <table border="0" width="752" cellspacing="0" cellpadding="0" height="100%">
                                        <tr>
                                            <td style="vertical-align: bottom; text-align:left" bgcolor="#303030" width="100%">
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                    <tr>
                                                        <td style="text-align: left; vertical-align: middle">
                                                        <a href="{{ url_for('home') }}"><img border="0" src="static\images\logo esat.jpg" width="280" height="130"></a></td>
                                                        <td width="50%" style="text-align: right; vertical-align: middle"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top; text-align:left" bgcolor="#EEF1F3">
                                            <table border="0" width="100%" height="100%" bgcolor="#C5C5C5" cellspacing="1">
                                                <tr>
                                                    <td width="700" style="text-align: left">
                                                    <table border="0" width="750" cellspacing="1" bgcolor="#B9B9B9">
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">17-Jun-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Ukraine vs N. Macedonia</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 2.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.98</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Denmark vs Belgium</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 2.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">2.24</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Netherlands vs Austria</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">1</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.38</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">16-Jun-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Finland vs Russia</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">2</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.68</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Turkey vs Wales</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.44</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Italy vs Switzerland</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.38</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">15-Jun-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Hungary vs Portugal</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.44</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\world.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">United Arab Emirates vs Vietnam</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.28</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">France vs Germany</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">12</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.36</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">14-Jun-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Scotland vs Czech Republic</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.44</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Poland vs Slovakia</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.39</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Spain vs Sweden</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">1</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.38</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">13-Jun-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">England vs Croatia</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.32</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Austria vs N. Macedonia</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">GG</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">2.20</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Netherlands vs Ukraine</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">1</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.56</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">12-Jun-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Denmark vs Finland</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 2.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.96</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Wales vs Switzerland</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">GG</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">2.35</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\euro.jpg" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Belgium vs Russia</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 2.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">2.00</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">23-May-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\italy.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Inter vs Udinese</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">1</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.40</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\italy.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Spezia vs AS Roma</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">2</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.60</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\eng.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Leeds Utd vs West Brom</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 2.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.45</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\france.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Angers vs Lille</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">2</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.30</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr> <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\eng.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Manchester City vs Everton</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">1</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.42</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">22-May-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\spain.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Valladolid vs Atl. Madrid</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Away Win</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.32</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\spain.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Real Madrid vs Villarreal</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Home Win </span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.44</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\germany.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Baryern Munich vs Augsburg</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Under 4.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.98</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\germany.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Borussia Dortmund vs Bayer Leverkusen</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Under 4.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.62</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">18-May-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\eng.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Manchester Utd vs Fulham</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">GG</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.87</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\eng.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Brighton vs Manchester City</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Away Win 2</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.47</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\eng.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Chelsea vs Leicester City</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 1.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.36</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#DADADA" height="28" style="vertical-align: middle; text-align:left" colspan="5">
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: left">
                                                                        <span style="letter-spacing: normal"><font size="2"><span style="font-weight: 700">&nbsp;&nbsp;</span></font><font size="3">16-May-2021</font></span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\eng.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">West Brom vs Liverpool</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 2.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.28</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\germany.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Mainz vs Borussia Dortmund</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">Over 2.5</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.38</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\italy.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Floretina vs Napoli</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">GG</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.67</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\spain.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Ath. Bilbao vs Real Madrid</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">2</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.56</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cashout.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="38" bgcolor="#E9E9E9" height="28" style="vertical-align: middle"><img border="0" src="static\images\eng.png" width="16" height="16"></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="429"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">Tottenham vs Wolves</b></span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="131"><font size="3"><span style="font-weight: 700">GG</span></font></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="101"><span style="letter-spacing: normal"><font size="3"><span style="font-weight: 700">1.79</span></font></span></td>
                                                            <td bgcolor="#E9E9E9" height="28" style="vertical-align: middle" width="36"><center><img border="0" src="static\images\cut.jpg" width="14" height="14"></center></td>
                                                        </tr>
                                                    </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </center>
    </body>
</html>